@font-face {
  font-family: "luxurious";
  src: url("./luxuriousscript-regular-webfont.woff2") format("woff2"),
    url("./luxuriousscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tangerine";
  src: url("./tangerine-regular-webfont.woff2") format("woff2"),
    url("./tangerine-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  --pink: #e33e38;
  font-family: "tangerine", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8d7d7;
}

.content {
  margin: 20px auto;
  padding: 20px;
  border-radius: 25px;
  border: 10px solid lightcoral;
  max-width: 800px;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.navBar {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  height: 40px;
}

.navButton {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: lightcoral;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  transition: all 0.1s ease-in-out;
}

.navButton:hover {
  font-size: 16px;
  border: 3px solid white;
  box-shadow: 0 0 15px red;
  width: 105px;
  height: 40px;
}

.selected {
  position: relative;
  color: black;
  background-color: white;
}

.tea-pot {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-25deg);
}

.title {
  font-size: 70px;
  margin: 25px 0;
  color: var(--pink);
  font-weight: bolder;
  -webkit-text-stroke: 1px rgb(56, 43, 43);
  letter-spacing: 2.5px;
  transition: text-shadow 0.3s ease;
}

.title:hover {
  -webkit-text-stroke: 1px white;
  text-shadow: 0 0 5px red;
}

.sub-hero {
  color: var(--pink);
  font-size: 40px;
  -webkit-text-stroke: 0.3px rgb(32, 31, 31);
  transition: text-shadow 0.3s ease;
}

.intro-container {
  font-size: 34px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "tangerine";
  font-weight: 500;
  border-radius: 15px;
  background-color: rgba(255, 182, 193, 0.645);
}
.menu-container {
  font-size: 34px;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "tangerine";
  font-weight: 500;
  border-radius: 15px;
  background-color: rgba(255, 182, 193, 0.645);
}

.menu-item {
  display: flex;
  position: relative;
  width: min-content;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px inset var(--pink);
  background-color: rgba(255, 255, 255, 0.631);
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: white;
  /* box-shadow: 0 0 20px lightcoral; */
  transform: translateY(-10px);
}

.menu-item:hover > * {
  -webkit-text-stroke: 1px black;
  box-shadow: 0 0 5px red;
}

.menu-item:hover p {
  box-shadow: none;
}

.menu-item-img {
  border-radius: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 170px;
  height: 120px;
}

.menu-item-title {
  color: var(--pink);
  font-weight: bolder;
  height: 70px;
  width: 70%;
  letter-spacing: 2.5px;
  font-size: 27px;
  -webkit-text-stroke: 1px black;
  transition: text-shadow 0.3s ease;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item:hover .menu-item-title {
  -webkit-text-stroke: 0.5px white;
}

.menu-item-price {
  color: rgba(255, 255, 255, 0.752);
  -webkit-text-stroke: 0.5px black;
  padding: 0 5px;
  font-weight: bolder;
  transition: text-shadow 0.3s ease;
  position: absolute;
  top: 97px;
  right: -13%;
  background-color: rgba(240, 128, 128, 0.54);
  border-radius: 15px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.menu-item-caffeine {
  position: absolute;
  height: 70px;
  display: flex;
  flex-direction: column-reverse;
  top: 75px;
  left: 15%;
  /* background-color: rgba(240, 128, 128, 0.54); */
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.menu-item:hover .menu-item-caffeine {
  box-shadow: none;
}

.menu-item-caffeine-cup {
  --size: 40px;
  max-width: var(--size);
  max-height: var(--size);
  transition: all 0.2s ease;
}

.menu-item:hover .menu-item-caffeine-cup {
  --size: 42px;
  max-width: var(--size);
  max-height: var(--size);
}

.menu-item-info {
  display: flex;
  font-size: 15px;
  height: 200px;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 25px;
}

.menu-item:hover > .menu-item-info {
  -webkit-text-stroke: 0;
  box-shadow: 0 0 5px red;
}

.menu-item-info * {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.259);
  transition: all 0.3s ease-in-out;
}

.menu-item:hover .menu-item-info * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

.menu-item-ingredients {
  align-self: center;
  margin-top: auto;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: lightcoral;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.menu-item-ingredients:hover {
  font-size: 16px;
  transform: translateY(-5px);
  box-shadow: 0 0 5px red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 35%;
  top: 25%;
  border-radius: 15px;
  width: 25%;
  height: auto;
  background-color: rgba(240, 128, 128, 0.597);
}

.modal-content {
  background-color: #fefefe;
  font-size: 25px;
  border-radius: 15px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* contactPage styling  starts here*/
.contact-container {
  font-size: 34px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "tangerine";
  font-weight: 500;
  border-radius: 15px;
  background-color: rgba(255, 182, 193, 0.645);
}

.contact-item {
  display: flex;
  width: 80%;
  height: 250px;
  border-radius: 15px;
  gap: 50px;
  padding: 20px;
  align-items: center;
  border: 2px inset var(--pink);
  background-color: rgba(255, 255, 255, 0.631);
}

/* .profile {
} */

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-img {
  --size: 140px;
  border-radius: 50%;
  border: 3px solid lightcoral;
  width: var(--size);
  height: var(--size);
}

.contact-name {
  color: var(--pink);
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2.5px;
  -webkit-text-stroke: 1px black;
}

.contact-details {
  background-image: linear-gradient(to right, transparent 30%, lightcoral 70%);
  background-position: 0 bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.shop-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  border-radius: 15px;
  gap: 50px;
  padding: 20px;
  align-items: center;
  border: 2px inset var(--pink);
  background-color: rgba(255, 255, 255, 0.631);
}

.shop-details {
  color: var(--pink);
  font-size: 34px;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
  background-image: linear-gradient(to right, transparent 30%, lightcoral 70%);
  background-position: 0 bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.shop-schedule {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  align-items: start;
  border-radius: 15px;
  gap: 50px;
  padding: 20px;
  align-items: center;
  border: 2px inset var(--pink);
}

.schedule-title {
  font-size: 50px;
  border-bottom: 0.5px solid black;
}

.time-details {
  width: 500px;
}
